.carouselWrapper {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselContainer {
  background: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carouselTracker {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  position: relative;
  transition: transform 250ms ease-in;
}

.carouselSlide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carouselButtonLeft {
  left: -40px;
}

.carouselButtonRight {
  right: -40px;
}

.carouselButton img {
  width: 12px;
}

.carouselNavigation {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carouselIndicator {
  border: 0;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 0 12px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.carouselIndicator.currentSlide {
  background: rgba(0, 0, 0, 0.8);
}

.displayNone {
  display: none;
}
